/* Css for Home or Theme for website */

/* Fonts */

/* Global css */
:root{
    --main-color: #FFCCFF;
    --color-1: #ffa500;
    --color-2: #0066FF;
    --color-3: #09d69c;
    --shadow-color: #CCCCFF;
    --text-color: #040404;
}
body{
    background-color: #fffcff;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
}  

/* Navbar section */

.navbar{
    position: sticky;
    padding: 10px;
    background-color: #06c48e;
}
.navbar .nav-logo{
    color: white;
    font-family: 'Italianno', cursive;
    font-size: 25px;
    display: flexbox;
    position: absolute;
    margin: -4px 0px 0px 200px;
}
.navbar ul{
    text-align: center;
    overflow: hidden;
}
.navbar .nav-link{
    list-style-type: none;
    text-align: center;
    align-items: center;
}
.navbar li{
    color: white;
    display: inline;
    margin: 15px;
    font-size: 25px;
    font-weight: 400;
    
}

/* Home section */
.container{
    display: flex;
    align-items: center;
}
.intro{
  align-items: center;
}
h1{
    font-weight: 100;
}
p{
    font-style: italic;
}
button {
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #23dd4f;
    border-radius: 20px;
  }


